<section class="home-main-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="search-home-wrapper">
          <div class="search-icon">
            <span><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>



          </div>
          <div class="home-text">
            <h2>Messages</h2>
          </div>
          <div class="profile-section">
            <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
              alt="Profile Picture" class="circular-image">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="swiper-container">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="img-section">
                  <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                    alt="Profile Picture" class="circular-image-slider">
                  <p class="image-text">User 1</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 message-wrapper">

        <div class="message">
          <div class="message-list ">
            <div class="user-profile" routerLink="/messageContainer">
              <div class="profile-img mt-3">
                <img src="https://p7.hiclipart.com/preview/481/915/760/computer-icons-user-avatar-woman-avatar.jpg"
                  alt="Profile Picture" class="circular-image">
              </div>
              <div class="user-info mx-5">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
        </div>



        <!-- <ion-item-sliding class="sliding">
          <ion-item class="sliding">
       
          </ion-item>

          <ion-item-options class="sliding">
            <ion-item-option color="danger">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>  -->
       
      

      </div>


    </div>
  </div>
</section>