<section class="onBoarding-main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo-text-wrapper">
          <div class="img">
            <img src="assets/images/clogo.png" alt="logo" style="height: 33px;">
          </div>
          <div class="text">
            <h2>Chatbot</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="heading-section">
          <div class="heading">
            <h1>Connect</h1>
            <h1>Friends</h1>
            <h1 class="fw-bold">easily &</h1>
            <h1 class="fw-bold">quickly</h1>
          </div>
        </div>
        <div class="para-section">
          <p>Our chat app is perfect way to stay</p>
          <p>connected with friends and </p>
          <p>family</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="icons">
          <div class="icon1">
            <p><img src="assets/icon/facebook.png" alt=""></p>
          </div>
          <div class="icon1">
            <p><img src="assets/icon/google.png" alt=""></p>
          </div>
          <div class="icon1">
            <p><img src="assets/icon/apple.png" alt=""></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="OR-wrapper">
          <div class="first-hr">
            <hr>
          </div>
          <div class="OR-text">
            <p>OR</p>
          </div>
          <div class="second-hr">
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="signup-button">
          <div class="button">
            <button routerLink="/signUp">Sign up withn mail</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="existing-account-link">
          <div class="existing-test">
            <p>Exsiting Account?</p>
          </div>
          <div class="existing-link mx-2">
            <p  ><a  (click)="signIn()" >Log in </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>





</section>